:root {
    --primary-text-color: #4D5AE5;
    --primary-fon-color: #FFFFFF;
    --color-section-logo: #F4F4FD;
}

* {
    /* padding: 0; */
    /* margin: 0; */
}

body {
    position: absolute;
    width: 1440px;
    height: 2593px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700px;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    background-color: var(--primary-fon-color);
}


.list,
.contact-mail,
.contact-tel {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #434455;
}

/* hover/:focus/:active */
a:hover,
a:focus {
    color: var(--primary-text-color);
}

a:active {
    color: rgba(77, 90, 229, 0.2);
}

p {
    width: 264px;
    height: 72px;
}

/* header */
.header {

}

/* логотип */
.logo-header {
    
}

span { color: var(--primary-text-color);}

/* ссылки на страницы */
.nav-href {
}

/* подсветка текушей страницы */
.nav-corrent { color: var(--primary-text-color)} 

/* меил и телефон */
.contact-mail {
}

.contact-tel {
  /*  сделать тень телефон #000000 */
}



/* main для index.html*/

.section-block {
    /* background-color: #2E2F42; */
}

.title {
    font-size: 56px;
    line-height: 60px;
    margin-left: 474px;
    /* color: var(--primary-fon-color); */
}

/* кнопка  */
button {
    background-color: var(--primary-fon-color);
    color: var(--primary-text-color);
}

button:hover,
button:focus {
    background-color: var(--primary-text-color);
    color: var(--primary-fon-color);
}

.main-button {
    margin-left: 635px;
}

/* < !-- Section 1 --> */
.title-text {
    text-align: center;
    }

.section1 {
    margin-left: 156px;
}

/* < !-- Section 2 --> */
.section2 {
    margin-left: 156px;
    margin-right: 156px;
}

/* < !-- Section 3 --> */
.section3 {
    text-align: center;
    background-color: var(--color-section-logo);
}

/* footer */
.footer {
}

/* логотип */
.logo-footer {
    color: var(--color-section-logo);
    margin-left: 156px;
}

.text-footer {
    color: #090a17;
    margin-left: 156px;
}



/* main для portfolio.html*/
/* < !-- Section 1 --> */


/* < !-- Section 2 --> */


/* < !-- Section 3 --> */


/* кнопки button  */
.button-portfolio {

}